<div class="cocktails-list">
  <div class="container-fluid">
    <div class="row">
      <% @cocktails.each do |cocktail| %>
      <%= link_to cocktail_path(cocktail) do %>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.seriouseats.com/images/2015/09/20150727-NuttyMartinez-Cocktail-Elana-Lepkowski.jpg');">
              <h2><%= cocktail.name %></h2>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

