<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://www.mailexperiences.co.uk/content/img/product/large/royal-cocktails-with-sharing-18100237.jpg');">
  <div class="banner-content">
    <h1>le Wagon Drinks</h1>
    <p>Your partenaire for l'apéro</p>
    <%= link_to "Add a new cocktail", new_cocktail_path, class: 'btn btn-success btn-lg'%>
  </div>
</div>
